<li>
	{{burger_name}}

	<button class="change-eat" data-id="{{this.id}}" data-newdevour="{{devoured}}">
		{{#if devoured}}BACK ON THE MENU!{{else}}DEVOUR IT!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
